.descr {
  padding-top: 150px;

  &__inner {
    display: flex;
    max-width: 570px;
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 150px;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__column-text {
    margin-bottom: 30px;
  }

  &__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
  }
}

