.video-block {
  padding: 150px 0;

  &__img {
    width: 100%;
    margin-bottom: 25px;
  }

  &__btn {
    @include title(700, 18px, 120%, $color-1);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-1;
    padding: 15px 0;
    gap: 10px;
    transition: all .4s;

    &:hover{
      color: $color-2;
      border: 1px solid $color-2;
    }

    & path{
      transition: all .4S;
    }

     &:hover path{
       fill: $color-2;
     }
  }
}